body{
    overflow: hidden;
}
html,body{
    margin: 0; padding: 0; height: 100%; width: 100%;
}
model-viewer{
    height: 100%;
    width: 100%;
    background-color: black; 
}

.hotspot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    pointer-events: none;
    --min-hotspot-opacity: 0;
    background-color: red;
}

.annotation {
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
}

:not(:defined)>* {
    display: none;
}
