body{
    overflow: hidden;
}
html,body{
    margin: 0; padding: 0; height: 100%; width: 100%;
}
model-viewer{
    height: 100%;
    width: 100%;
    animation: 2s ease-out 0s 1 bayraktar-efekt;
}

.hotspot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    pointer-events: none;
    --min-hotspot-opacity: 0;
    background-color: red;
}

.annotation {
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
}

/* :not(:defined)>* { */
/*     display: none; */
/* } */

@keyframes bayraktar-efekt {
  0% {
      opacity: 0;
      transform: TranslateY(100%);
  }
  100% {
      opacity: 1;
      transform: TranslateY(0%);
  }
}

@keyframes arkaplan-efekt {
    0% {
        opacity: 1;
        transform: TranslateY(100%);
    }
    100% {
        opacity: 0.5;
        transform: TranslateY(0%);
    }
}

.parca {
  background: gray;
  padding: 20px;
  display: inline-block;
  transition: 0.3s;
}

.parca.aktif {
  background: red;
  transform: scale(1.2);
}