body{
    overflow: hidden;
}
html,body{
    margin: 0; padding: 0; height: 100%; width: 100%;
}
model-viewer{
    height: 100%;
    width: 100%;
    animation: 2s ease-out 0s 1 bayraktar-efekt;
}

.hotspot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    pointer-events: none;
    --min-hotspot-opacity: 0;
    background-color: red;
}

.annotation {
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
}

/* :not(:defined)>* { */
/*     display: none; */
/* } */

@keyframes bayraktar-efekt {
  0% {
      opacity: 0;
      transform: TranslateY(100%);
  }
  100% {
      opacity: 1;
      transform: TranslateY(0%);
  }
}

@keyframes arkaplan-efekt {
    0% {
        opacity: 1;
        transform: TranslateY(100%);
    }
    100% {
        opacity: 0.5;
        transform: TranslateY(0%);
    }
}
                  .view-button {
                    background: #fff;
                    border-radius: 4px;
                    border: none;
                    box-sizing: border-box;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                    color: rgba(0, 0, 0, 0.8);
                    display: block;
                    font-family: Futura, Helvetica Neue, sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    max-width: 128px;
                    overflow-wrap: break-word;
                    padding: 0.5em 1em;
                    position: absolute;
                    width: max-content;
                    height: max-content;
                    transform: translate3d(-50%, -50%, 0);
                  }